/* New fonts imported from Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i");

@import url("https://fonts.googleapis.com/css?family=Raleway");

/* The following CSS code allows a smooth scroll behavior once a link is clicked */

html {
	scroll-behavior: smooth;
}

#section1 {
  height: 250;
  background-color: #eef0fc;
  scroll-behavior: smooth;
}

#section2 {
  height: 375;
  background-color: white;
  scroll-behavior: smooth;
}

#section3 {
  height: 500;
  background-color: white;
  scroll-behavior: smooth;
}

#section4 {
  height: 200;
  background-color: white;
  scroll-behavior: smooth;
}

/* Allows to reset to the default properties*/
* {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  box-sizing: border-box;
}

.info-slide {
  /* set the size of each box */
  display: block;
  width: auto;
  height: 520px;
  padding-top: 250px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 45px;

  /* set background  */
  background: url("https://lh3.googleusercontent.com/R2lR-GujnDQVgqujdNNASDw16tCnD-nJoSUhBRh8SEjbxdqPeb9yb8-gU7EO3e462nKVhXJPss6XCdIeaQQ2l0QA3rE066hk2kkMDwGw6fLretmByZLkN5FKtt8sYd33AbQbVOnr=w2400");
  background-repeat: no-repeat;
  background-position: left;
}

/* set all text content for the slide to be white and vertically one onafter another */

.info-slide > * {
  display: block;
  margin: 16px;
  color: white;
}

/* make title text bigger */
.info-slide > span:first-child {
  font-size: 32px;
  font-family: Futura;
  letter-spacing: 4px;
}

.info-slide > span:last-child {
  font-size: 32px;
  font-family: "Playfair Display", serif;
}

.info-slide > span:nth-of-type(2) {
  font-family: "Playfair Display", serif;
  font-size: 350%;
  font-weight: bold;
}

/* Format navigation bar */
/* Remove the bullets and the margins and padding from lists */
.nav > ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  background-color: #5569dc;
  padding-left: 120px;
  padding-right: 0px;
}
/* display: inline; lines all the links together side by side */
.nav li {
  display: inline;
}

/* Decoration/properties of text (or links) of navigation bar */
.nav li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 18px 18px;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-style: italic;
  background-color: #5569dc;
}
/* constructs overall format of sidebar */
.sidebar {
  display: block;
  position: relative;
  float: right;
  background-color: #5569dc;
  text-align: center;
  width: 300px;
  height: 520px;
  bottom: 520px;
}

/* Formats professional photo into a circle */
#ProfilePic {
  width: 54%;
  border-radius: 50%;
  display: block;
  /* margins are on auto in order to keep photo in the middle */
  margin-left: auto;
  margin-right: auto;
  padding-top: 8px;
  padding-bottom: 8px;
}
/* customizes the formating of my name */
.sidebar h1 {
  color: white;
  padding-top: 16px;
  padding-bottom: 8px;
  font-family: "Playfair Display", serif;
  font-size: 32px;
}

.sidebar h4 {
  padding-top: 8px;
  padding-bottom: 19px;
  line-height: 1.8;
  font-family: Futura Light;
  font-weight: 100;
  color: white;
  letter-spacing: 1px;
}


/* customize the button*/
.btn {
  background-color: white;
  color: #5569dc;
  text-align: center;
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 14px;
  padding-left: 14px;
  font-size: 14px;
  font-family: Futura Light;
}

.about {
  display: block;
  background-color: #eef0fc;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 250px;
}

.about h1 {
  color: #5569dc;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 32px;
  margin-right: 200px;
  margin-left: 225px;
  padding-top: 30px;
}
.about h4 {
  color: #5569dc;
  font-family: Futura Light;
  font-weight: 200;
  margin-right: 200px;
  margin-left: 220px;
  padding-top: 8px;
  padding-bottom: 16px;
  letter-spacing: 2px;
}
.about p {
  font-size: 18px;
  font-family: Futura Light;
  font-weight: 200;
  margin-right: 200px;
  margin-left: 220px;
  padding-bottom: 30px;
}

#section2 {
  display: block;
  height: 320px;
  padding-top: 18px;
  padding-bottom: 20px;
  position: relative;
  
}

.Education {
  width: 450px;
  float: left;
  display: block;
  margin-right: 1px;
  margin-left: 220px;
}

.Experience {
  width: 400px;
  direction: rtl;
  text-align: left;
  margin-right: 200px;
  margin-left: 200px;
  display: inline-block;
  position: absolute;
  right: 0px;
  
}

.Education h1 {
  color: #5569dc;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 32px;
  padding-top: 0px;
}

.Education h3 {
  color: #5569dc;
  font-family: Futura Light;
  font-weight: 200;
  letter-spacing: 2px;
  padding-bottom: 28px;
}

.Experience h1 {
  color: #5569dc;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 32px;
  padding-top: 0px;
}

.Experience h3 {
  color: #5569dc;
  font-family: Futura Light;
  font-weight: 200;
  letter-spacing: 2px;
  padding-bottom: 28px;
}
.year {
  font-family: Futura Light;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.6;
  list-style-type: none;
}

.description {
  display: block;
  font-family: Futura Light;
  font-weight: 200;
  font-size: 16;
  line-height: 2;
  list-style-type: none;
  padding-bottom: 8px;
}

#section3 {
        width:68%;     
    background-color: white;     
    font-weight:bold;
    padding-bottom: 30px; 
  padding-top: 20px;
  
     

}
.progressbar {
  width: 100%;
  height: 5px;
  background-color: #aaa;
  position: relative;
  margin-bottom: 15px;
  margin-left: 18px;
  margin-right: 0;
}
.progressbar span {
  height: 5px;
  background-color: #5569dc;
  z-index: 888;
  position: absolute;
  top: 0px;
  left: 0px;
}
.html {
  width: 100%;
}
.css {
  width: 90%;
}
.javascript {
  width: 85%;
}
.php {
  width: 90%;
}

.bardiv h1 {
  display: inline-block;
  color: #5569dc;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 32px;
  margin-left: 18px;
}

.bardiv h4 {
  color: #5569dc;
  font-family: Futura Light;
  font-weight: 200;
  padding-top: 0px;
  padding-bottom: 16px;
  letter-spacing: 2px;
  margin-left: 18px;
}

.bardiv h3 {
  color: #5569dc;
  font-family: Futura Light;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 16px;
  margin-left: 18px;
}

.contact {
  display: block;
  height: 160px;
  background-color: #eef0fc;
}

#phrase {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 32px;
  margin-right: 0px;
  margin-left: 200px;
  padding-top: 18px;
}

#button {
  color: white;
  background-color: #5569dc;
  text-align: center;
  display: inline-block;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 14px;
  padding-left: 14px;
  font-size: 14px;
  font-family: Futura Light;
  margin-left: 1000px;
  bottom: 55px;
 position: relative;
}


